<div class="notice error animate-slide-down">
    <%= notice %>
    <button class="dismiss ms-3">&times</button>
    <div class="progress">
        <div class="bar"></div>
    </div>
</div>


<style>

.dismiss {
    opacity: 0.4;
    font-weight: 100;
    outline: none;
    background: none;
    border: none;
    color: white;
}

.dismiss:hover {
    opacity: 1;
}

.notice.error {
    font-size: 1rem;
    background: #202021;
}

.notice.error .bar {
    background: #297b62;
}

.notice {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #297b62;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2px;
    z-index: 999;
    transition: all 2s ease-in;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
}

.progress {
	width: 100%;
	background-color: white;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	border-radius: 0px;
	height: 10px;
  }
  
.progress, .bar {
	height: 3px;
}

.bar {
    transition: all 5s ease-in;
	width: 1%;
    background-color: #8cd388;
    animation: fill-bar 5s ease;
    animation-fill-mode: forwards;
}

@keyframes fill-bar {
    from {
        width: 1%;
    }

    to {
        width: 100%;
    }
}


.animate-slide-up {
    animation: slide-up 1s ease !important;
    animation-fill-mode: forwards;
    opacity: 0;
}

.animate-slide-down {
	animation: slide-down 1s ease;
	animation-fill-mode: forwards;
}

@keyframes slide-down {
	from {
	  opacity: 0;
	  transform: translateY(-100px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0px);
	}
}


@keyframes slide-up {
	from {
	  opacity: 1;
	  transform: translateY(0);
	}
	to {
	  opacity: 0;
	  transform: translateY(-100px);
	}
}

</style>