<footer class="pt-5 pt-md-0">
    <div class="container">
        <div class="row">
            <div class="col-2 col-md-1 order-2 order-md-1 mx-auto pt-3 pt-md-0">
                <%= image_tag 'logo-dark.svg', class: 'w-100' %>
            </div>
            <div class="col-12 col-md-11 d-flex flex-row justify-content-center justify-content-md-end align-items-end order-1 order-md-2">
              <span class="footer-text">
                Icons by <a href="https://icons8.com/" class="ms-1" target="_blank">Icons8</a><span class="fancy-line mx-2">|</span> SVG Background by <a target="_blank" class="ms-1" href="https://bgjar.com"> BGJar</a> <span class="fancy-line mx-2">|</span> Animation by me
              </span>
            </div>
        </div>
    </div>
</footer>
