<footer class="">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <%= image_tag 'logo-dark.svg', class: 'w-100' %>
            </div>
            <div class="col-11 d-flex flex-row justify-content-end align-items-end">
              <span class="footer-text">
                Icons by <a href="https://icons8.com/" class="ms-1" target="_blank">Icons8</a><span class="fancy-line mx-2">|</span> SVG Background by <a target="_blank" class="ms-1" href="https://bgjar.com"> BGJar</a> <span class="fancy-line mx-2">|</span> Animation by me
              </span>
            </div>
        </div>
    </div>

</footer>
