<section class="page-header container">
    <div class="row">
        <div class="col-4">
            <%= image_tag 'circuit-board--lg.svg', class: 'object-fit-cover bg-lightgreen' %>
        </div>
        <div class="col-8">
        </div>
    </div>
</section>
