<section class="page-header container">
    <div class="row">
        <div class="col-4">
            <%= image_tag 'circuit-board--lg.svg', class: 'object-fit-cover bg-lightgreen' %>
        </div>
        <div class="col-8">
        </div>
    </div>
</section>


<style>

.page-header {
    max-height: 350px;
}

.bg-lightgreen {
    background: #b7e5b2;
}

.right-content {
    background: #202021;
}

</style>