<section class="projects-title page-header-section p-relative pb-3">
    <div class="bg-image bg-lightgreen bg-element square h-100">
        <%= image_tag 'circuit-board--lg.svg', class: 'h-100 w-100 object-fit-cover' %>
    </div>
    <div class="row container padding-top-double pb-3 mx-auto px-0">
        <div class="col-12">
            <h1 class="section-title title-lg mb-4">Projects.</h1>
            <div  class="content-container">
                <p class="big-text">
                    I design, develop, and maintain a variety of websites for charter schools and businesses. 
                    My portfolio showcases projects built with robust functionality, custom content management, and device-responsive design.
                </p>
            </div>
        </div>
    </div>
    <div id="filters" class="row container mx-auto px-0">
       <%= render 'filters', selected: nil %>
    </div>
</section>

<section id="projects" class="projects mt-5 container padding-bottom">
    <%= render 'projects', projects: @projects %>
</section>


<style>

.project-image-container:after {
    background-image: url(<%= asset_path 'circuit-board--lg.svg' %>);
}

</style>