default: &default
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5

development:
  <<: *default
  database: website_development
  username: username
  password: password

production:
  <<: *default
  database: website_production