<div class="row">
    <div class="col-6">
    <%= render 'admin/shared/header', title: 'Categories' %>
    </div>
    <div class="col-6 text-end">
        <%= link_to new_admin_category_path, class: 'btn btn-round btn-lg btn-main' do %>Add Category<% end %>
    </div>
</div>

<%= render 'table' %>