.devise {
    label {
        font-weight: 100;
        margin-bottom: 0.25rem;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        background: #bfeabb;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
    }
    ::placeholder {
        font-weight: 100;
    }
    h2 {
        display: block;
        margin: 0 auto 1rem auto;
        text-align: center;
    }
    input[type="submit"] {
        border-radius: 50px;
        background: #287b61;
        color: white;
        border: none;
        outline: none;
        padding: 5px 25px;
        font-weight: 700;
        font-size: 1.25rem;
        display: block;
        margin: .5rem auto 1rem auto;
    }
    input {
        margin-bottom: 1rem;
    }

    .logo {
        position: absolute;
        top: 3rem;
        left: 3rem;
        width: 100px;
    }
    .bg-green {
        background: #b8e8b3;
        width: 100%;
        height: 50vh;
        min-height: 500px;
        opacity: 0.25;

        &.first {
            top: 100%;
        }
        &.second {
            bottom: 7rem;
        }
    }
    .p-bottom {
        top: 100%;
        display: flex;
        align-self: end;
        align-items: end;
        position: relative;
        bottom: 0rem;
    }
    .left-content {
        z-index: -1;
    }
    .big-text {
        font-size: 1.5rem;
        font-weight: 100;
    }
    .devise-content {
        position: relative;
        background: #b8e8b32b;
        height: 100vh;
        width: 100vw;
    }
}

.devise {
    .content-card {
        position: relative;
        padding: 2rem;
        background: rgba(255, 255, 255, 0.5);
    }    
    .content-card::after {
        position: absolute;
        content: '';
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        bottom: 0rem;
        right: -2rem;
        top: 2rem;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.9;
        background-color: #b8e8b3;
    }
    .content-card.dark {
        background: white;
        color: #202021;
    }
}

.links {
    display: flex;
    justify-content: center;

    a {
        font-weight: 100;
    }
    a:not(:last-of-type):after {
        content: " | ";
        margin: 0 .5rem;
        color: lightgray !important;
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
    }
}

