.navbar {
    &.navbar-abs {
      position: absolute;
      top: 0px;
      width: 100%;
    }
}


#main-nav {
    z-index: map-get($z-index, navigation);

    .nav-item {
        .link {
            position: relative;
            margin-right: 2rem;
        }
    }
    .nav-link {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        font-size: 1.5rem;
        padding: 0px;
    }
    .nav-link + span {
        width: 0px;
        left: 100%;
        border-radius: 1px;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
    }

    @media (min-width: 991px) {
        .nav-link:hover + span {
            position: absolute;
            height: 12px;
            bottom: 0;
            left: -5px;
            right: 5px;
            background-color: #242f2c;
            opacity: 0.7;
            z-index: -1;
            width: 100%;
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);
        }
    }

      .nav-item a {
        color: white;
      } 
}

#secondary-nav {
    z-index: map-get($z-index, navigation);

    .nav-item a {
        color: #202021;
        font-weight: 600;
    }

    .nav-item {
        .link {
            position: relative;
            margin-left: 2rem;
        }
    }
    .nav-link {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 200;
        font-size: 1.5rem;
        padding: 0px;
    }
    .nav-link + span {
        width: 0px;
        left: 100%;
        border-radius: 1px;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
    }
    .nav-link:hover + span {
        position: absolute;
        height: 12px;
        bottom: 0;
        left: -5px;
        right: 5px;
        background-color: #b8e8b3;
        opacity: 0.7;
        z-index: -1;
        width: 100%;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
      }
}
  
.under_development {
    .navbar {
        display: none !important;
    }
}
  
/* Footer */

.footer-bg {
    position: absolute;
    background-color: #b8e8b32b !important;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

footer {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 991px){

    #secondary-nav {
        padding: 2rem;
    }
    #secondary-nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    footer {
        padding: 0 2rem;

        .footer-text {
            font-size: .75rem;
        }
    }
    
}


/* Mobile */


.navbar-toggler {
	border: none;
	background: transparent !important;
	padding: 10px;

	.icon-bar {
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background-color: white;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
		display: block;
		transition: all 0.2s;
	}
	.top-bar {
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}
	.middle-bar {
		opacity: 0;
	}
	.bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}
	.icon-bar+.icon-bar {
		margin-top: 4px;
	}
	&:hover {
		background: transparent !important;
	}
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}

.navbar-toggler.collapsed {
	.top-bar {
		transform: rotate(0);
	}
	.middle-bar {
		opacity: 1;
	}
	.bottom-bar {
		transform: rotate(0);
	}
}

.user-icon {
	color: white;
}

@media (max-width: 768px) {
	.navbar {
		padding: 1.5rem .75rem;
	}

	.navbar-collapse .container {
	  width: auto;
	  margin-left: auto;
	  margin-right: auto;
	}
	.navbar-collapse.show, .navbar-collapse.collapsing {
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
        background: #297b62 !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 999;
		
		.navbar-nav {
			padding: 40px 40px 20px;
		}
	}
}

@media (min-width: 991px) {
	.navbar-expand-md .navbar-nav .nav-link {
		padding-left: 1rem; padding-right: 1rem;

		&:hover {
			color: blue;
		}
	}
}


#main-nav .navbar-toggler {
    position: absolute;
}
.navbar-toggler {
    z-index: 9999;
    box-shadow: none;
    right: 1rem;
    top: 1rem;

    .icon-bar {
        box-shadow: none;
    }
}
  
#secondary-nav {
    .collapsed .icon-bar {
        background-color: #297b62;
    }
}

  
@media (max-width: 991px) {
    #secondary-nav .nav-item .link {
        position: relative;
        margin-left: 0rem;
    }
    #secondary-nav .nav-item a {
        color: white;
        font-weight: 100;
    }
}