.navbar {
    &.navbar-abs {
      position: absolute;
      top: 0px;
      width: 100%;
    }
}


#main-nav {
    z-index: map-get($z-index, navigation);

    .nav-item {
        .link {
            position: relative;
            margin-right: 2rem;
        }
    }
    .nav-link {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        font-size: 1.5rem;
        padding: 0px;
    }
    .nav-link + span {
        width: 0px;
        left: 100%;
        border-radius: 1px;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
    }
    .nav-link:hover + span {
        position: absolute;
        height: 12px;
        bottom: 0;
        left: -5px;
        right: 5px;
        background-color: #242f2c;
        opacity: 0.7;
        z-index: -1;
        width: 100%;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
      }

      .nav-item a {
        color: white;
      } 
}
  
  
  
  
