


.project-container {
    -webkit-animation: slide-up 0.4s ease;
    animation: slide-up 0.4s ease;
    transition: opacity 2s ease-in, transform 2s ease-in;

    .actions {
        z-index: 2;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

.project-content {
    position: relative;
    padding: 0rem 0rem 2rem 2rem;   
}

.project-details {
    z-index: 99 !important;
    position: relative;
}


.project-image-container {
    position: relative;
    width: calc(100% - 1rem);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1 !important;

    &:after {
        content: '';
        position: absolute;
        top: 1rem;
        left: 1rem;
        bottom: -1rem;
        right: -1rem;
        background-color: #b8e8b3;
        z-index: -1;
        opacity: 1;
    }
}

.project-image-container, .project-name {
    &:after {
        background-color: #b8e8b3;
    }
}


.project-img {
    filter: grayscale(1);
    transition: all 0.25s ease-in;

    &:hover {
        filter: none;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
}


.description {
    color: #202021;
    font-weight: 100;
    z-index: 2;
    position: relative;
    line-height: 2;
    z-index: 0;
    padding: 3rem 4rem 4rem 0;

    &:after {
        content: '';
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
        position: absolute;
        top: 0; bottom: 0;
        z-index: -1;
        left: -9rem; right: 0rem;
        background: white;
    }
}

.project-6 {
    height: 150px;
}

.project-container {
    .project-name {
        color: #202021;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-weight: 700;
        font-size: 2.25rem;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;

        &:after {
            content: '';
            position: absolute;
            height: 20px;
            left: -5px;
            width: 45%;
            bottom: -5px;
            background-color: #b8e8b3;
            z-index: -1;
            min-width: 0px;
        }
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.description {
    transition: none;
    position: relative;
    top: 10px;
    position: relative;
    z-index: 0 !important;
}

.horizontal-list {
    display: flex;
    padding: 0px;

    li {
        margin-right: 10px;
    }
}




/* Filtering */

.filter-btn {
    background: #b8e8b3;
    color: #287b61;
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 1.25rem;
    letter-spacing: 0.5px;

    &.selected {
        background: transparent;
        color: white;
        background: #287b61;
    }
}

/**/


@media (max-width: 991px) {

    .page-header-section {
        padding: 2rem; 

    }
    .project-container {
        .project-name {
            margin-top: 0;
        }
    }
    .project-content {
        padding: 0;
        padding-top: 2rem;
    }
    .description.content-container {
        padding: 0;

        &:after {
            content: none;
        }
    }
    .projects-slider .slick-slide {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0rem 2.5rem 2rem 2.5rem;
    }
}


.projects {
    footer {
        display: none !important;
    }
}

.offset-bg {
    max-height: calc(100% - 8rem);
}