@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

body {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

/* Skills Slider */

.skills-slider {

    .slick-slide {
      margin-left: 20px;
      margin-right: 20px;
      & > div {
        height: 100%;
      }
    }
  
    .slick-list {
      margin-left: -20px; /* px size of slide space */
      width: calc(100% + 40px); /* add double the px size of slide space */
    }
  
    .slide {
      & > div {
        height: calc(100% - 10px);
      }
    }
  
  }