@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

p {
  line-height: 2;
  font-weight: 200;
  font-size: 20px;
  text-align: justify;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #287b61;

  &:hover {
    color: $color-blue;
  }
}

ul {
  padding-left: 0px;
}

textarea {
  resize: none;
}

::placeholder {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

/* Padding */

.padding-top-double {
  padding-top: 105px;
}

.padding-top {
  padding-top: 80px;
}

.padding-bottom {
  padding-bottom: 80px;
}

.padded-section-es {
  padding: 0 3rem;
}

.padded-section {
  padding: 3rem;
}

/* Buttons */

.btn {
  transition: all 0.09s ease-in;
  font-weight: 700;
}

.btn-round {
  border-radius: 50px;
}

.btn-main {
  background: $color-green;
  color: white;

  &:hover {
    color: white;
    background-color: #195240;
  }
}

.btn-second {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  background: white;
  color: $color-green;
}

.btn-xl {
  padding: .75rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.btn-sm {
  font-size: .9rem;
  padding: 5px 20px;
}


.btn-tag {
  background: #297b62 !important;
  color: white;

  &:hover {
    color: #b8e8b3;
  }

  .icon {
    font-weight: 100;
  }
}

.btn-shadow {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .2);
}


/* Section Title */


.section-title {
  display: inline-block;
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 40px;
  z-index: map-get($z-index, section-title);

  &:after {
    content: '';
    position: absolute;
    height: 20px;
    left: -5px;
    width: 45%;
    bottom: -5px;
    background-color: #b8e8b3;
    z-index: -1;
    min-width: 100px;
  }
}

.big-text {
  font-size: 1.25rem;
}




.title-lg {
  font-size: 3.125rem;
}

/* Skills Slider */

.skills-slider {

    .slick-slide {
      margin-left: 20px;
      margin-right: 20px;
      & > div {
        height: 100%;
      }
    }
  
    .slick-list {
      margin-left: -20px; /* px size of slide space */
      width: calc(100% + 40px); /* add double the px size of slide space */
    }
  
    .slide {
      & > div {
        height: calc(100% - 10px);
      }
    }
  
  }

/* Content Containers */

.card-content.no-content {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  font-weight: 100;
  font-size: 2rem;
  padding: 3rem;
}

.content-container {
  position: relative;
}

.description {
  position: relative;
  top: 10px;
}

.description.content-container {
  position: relative;
  padding: 3rem 3rem 3rem 0rem;

  &:after {
    content: '';
    position: absolute;
    background: white;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.1);
    top: 0; right:0; left: -12.5%; bottom: 0;
    z-index: -1;
  }
}


.page-header {
  max-height: 350px;
}

/* Utility */

.p-relative {
  position: relative;
}

.bg-green {
  background-color: $color-green;
}

.bg-lightgreen {
  background-color: #b7e5b2;
}

.bg-lighter-green {
  background: #e5f7e2;
}

.bg-dark {
  background-color: #202021;
}

.bg-inset-shadow {
  box-shadow: inset -30px 30px 150px rgba(0, 0, 0, .1);
}

.light-element {
  opacity: 0.05;
}

.object-fit-cover {
  object-fit: cover;
}

.fancy-line {
  font-size: 1.25rem;
  color: #359c7d;
}

/* Footer */

footer {
    padding-bottom: 2rem;
    background: white;
}

.footer-text {
  color: #8f8f8f;
  font-weight: 100;
}

/* Dark Section */

.dark-section {
  .lead-text {
    color: white;
  }
}


/* Light Section */

.light-section {
  .icon-1, .icon-2, .icon-3 {
    transition: all 0.125s ease-in;

    &:hover {
      color: $color-blue;
    }
  }

  .icon-1 {
    color: #297b62
  }
  
  .icon-2 {
    color: #369c7d;
  }
  
  .icon-3 {
    color: #b8e8b3;
  }
}

/* Filters / Forms */

.field_with_errors {
  position: relative;

  input,
  textarea {
    border-bottom: 2px solid #359c7d !important;
  }
  input {
    height: 44px;
  }

  &:after {
    content: '!';
    position: absolute;
    top: 10px;
    right: 0.5rem;
    z-index: 1;
    font-weight: 400;
    color: white;
    background: #359c7d;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1rem;
    opacity: 0.5;
  }
}

.form-group {
  margin-bottom: 1.5rem;

  input,
  textarea {
    background: #d4f0d1;
    border: none;
    outline: none;
    border-radius: 0px;
    padding: 10px;
  }
}

.form-control:focus {
  background: #d4f0d1;
}

.filters {
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    background: #287b61;
    color: white;
  }
  .filter-btn {
    white-space: nowrap;
  }  
}

/* Icons */

.light-section {
  .icon-3 {
    color: #9fdac8;
  }
  .icon-4 {
    color: #b8e8b3;
  }
}

.icon-white:hover {
  color: #8cd388;
  transition: all 0.125s ease-in;
}

.fa-stack {
  .inner-icon, .circle {
    transition: all 0.125s ease-in;
  }
  &.icon-white:hover .inner-icon {
    color: white;
  }
  &.icon-white:hover .circle {
    color: #8cd388;
  }
}

.icon-white {
  color: white;

  &.fa-stack .inner-icon {
    color: #287b61;
  }
}


.icon-sm {
  &:not(.fa-stack) {
    width: 30px;
    height: 30px;
  }

  &.fa-stack {
    width: 2rem;

    .circle {
      width: 30px;
      height: 30px;
      margin: 0;
    }
    .inner-icon {
      font-size: .8rem;
      margin: 8px;
    }
  }
}
.icon-lg {
  width: 60px;
  height: 60px;

  &.fa-stack .circle {
    width: 60px;
    height: 60px;
  }
  &.fa-stack .inner-icon {
    font-size: 1.5rem;
  }
}


/* Utility */

.p-relative {
  position: relative;
}


.unstyled-list {
  list-style: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-title-big {
  font-size: 3rem;
}

.horizontal-list {
  flex-wrap: wrap;
  display: inline-flex;

  & > li {
    margin-right: 1rem;
  }
  li {
    margin-bottom: 1rem;
  }
}

.vertical-list {
  &.icon-list li {
    margin-bottom: 1rem;
  }
}

/* Padding / Margin Utilities */

.padded-section {
  padding: 3rem;
}

.padding-top-double {
  padding-top: 105px;
}

.projects, .about {
  .padded-section {
    padding: 2rem;
  }
}

.pt-7 {
  padding-top: 5rem !important;
}

@media (max-width: 567px) {
  .padded-section-es {
      padding: 0 0rem;
  }
  section {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@media (min-width: 567px) {
  .padded-section-es-sm {
      padding-left: 3rem;
      padding-right: 3rem;
  }
}

@media (min-width: 768px) {
  .padded-section-es-md-auto {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

@media (max-width: 991px) {
  .padded-section {
    padding: 2rem !important;
  }
  .padded-section-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

