<section class="about padding-top padding-bottom container-fluid light-section ps-md-0">
    
        <div class="row">
            <div class="d-none d-md-block col-4 col-md-5 px-0 p-relative">
                <%= image_tag 'circuit-board--lg.svg', class: 'bg-element bg-lightgreen bg-inset-shadow' %>
            </div>
            <div class="col-12 col-md-6 padded-section-es-sm container mx-0">
                <div class="container px-0 px-sm-3">
                <h2 class="section-title">Adaptability and Expertise.</h2>
                <p>
                I build device-responsive, custom websites using Ruby on Rails, HTML/CSS/JavaScript, and MySQL, with design support from
                Adobe Photoshop, Illustrator, and InDesign. From initial concept to design to copywriting to deployment to maintenance, I manage every part of the process in close cooperation with my clients. 
                Whether the project is a bonafide "software application" for the web or a single-page promotional site, I'm always up for the task.
                </p>
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4 p-relative">
            <div class='bg-element square constrained-height'>
                <%= image_tag 'circuit-board--lg.svg', class: 'h-100 w-100 object-fit-cover' %>
            </div>
        </div>
    </div>
</section>
