<section class="about padding-top padding-bottom container-fluid px-0 light-section">
    <div class="">
        <div class="row">
            <div class="col-5 px-0 p-relative">
                <%= image_tag 'circuit-board--lg-lightgreen.svg', class: 'bg-element bg-green bg-inset-shadow' %>
            </div>
            <div class="col-6 padded-section-es">
                <h2 class="section-title">Adaptability and Expertise.</h2>
                <p>
                I build device-responsive, custom websites using Ruby on Rails, HTML/CSS/JavaScript, and MySQL, with design support from
                Adobe Photoshop, Illustrator, and InDesign. From initial concept to design to copywriting to deployment to maintenance, I manage every part of the process in close cooperation with my clients. 
                Whether the project is a bonafide "software application" for the web or a single-page promotional site, I'm always up for the task.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4 p-relative">
            <div class='bg-element square constrained-height'>
                <%= image_tag 'circuit-board--lg.svg', class: 'h-100 w-100 object-fit-cover' %>
            </div>
        </div>
    </div>
</section>
