<section class="padding-bottom pt-5 container padded-section-es-sm padded-section-es-md-auto">
    <div class="row">
        <div class="col-4">
            <div class="block first"></div>
        </div>
        <div class="col-4">
            <div class="block second"></div>
        </div>
        <div class="col-4">
            <div class="block third"></div>
        </div>
    </div>
</section>