<section class="padding-bottom pt-7 container">
    <div class="row">
        <div class="col-4">
            <div class="block first"></div>
        </div>
        <div class="col-4">
            <div class="block second"></div>
        </div>
        <div class="col-4">
            <div class="block third"></div>
        </div>
    </div>
</section>

<style>

.pt-7 {
    padding-top: 5rem !important;
}

</style>