<div class="hero">
    <div class="row h-100">
        <div class="col-5 padded-section left-content d-flex align-items-end">
            <!-- canvas class="bg-element" id="myCanvas" resize></canvas -->
            <%= image_tag 'blob-bg.svg', class: 'bg-element' %>
            <ul class="unstyled-list vertical-list icon-list">
                <li>
                    <a href="">
                    <i class="fa-brands icon icon-white icon-lg fa-github"></i>
                    </a>
                </li> 
                <li>
                    <a href="">
                    <span class="fa-stack icon-white icon-lg">
                        <i class="fas fa-circle fa-stack-2x circle"></i>
                        <i class="fab fa-linkedin-in fa-stack-1x inner-icon fa-inverse"></i>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="">
                    <span class="fa-stack icon-white icon-lg">
                        <i class="fas fa-circle fa-stack-2x circle"></i>
                        <i class="fas fa-envelope fa-stack-1x inner-icon fa-inverse"></i>
                    </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-7 padded-section right-content d-flex align-items-center p-relative">
            <div class="bg-element-img">
                <%= image_tag 'rectangles.svg', class: 'w-50' %>
            </div>
            <div class="hero-text">
                <h1 class="lead-text"><span class="highlight">Megan</span> Nelson</h1>
                <p class="headline">I'm a Full Stack Web Developer.</p>
                <div class="actions">
                    <%= link_to root_path, class: 'btn btn-main btn-round btn-xl me-4' do %>
                        Lorem
                    <% end %>
                    <%= link_to root_path, class: 'btn btn-second btn-round btn-xl' do %>
                        Ipsum
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


<style>

.bg-element-img {
    position: absolute;
    right: 0;
    bottom: 3rem;
    align-items: end;
    display: flex;
    justify-content: end;
    z-index: -3;
    opacity: 0.15;
}


.lead-text {
    position: relative;
    z-index: 1;
}

.lead-text:after {
    content: '';
    position: absolute;
    height: 20px;
    left: -5px;
    width: 45%;
    bottom: -5px;
    background-color: #297b62;
    opacity: 0.1;
    z-index: -1;
    min-width: 100px;
}

.highlight {
    color: #8cd388;
}

.hero .bg-element,
.hero #myCanvas {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;

top: 0;
right: 0%;
}

.hero #myCanvas {
    background: #17171a;
}

.hero .left-content {
    z-index: -5; 
    position: relative;
    background: #17171a;
}

.hero .right-content {
    box-shadow: 0px -10px 200px rgb(0 0 0);
    background: #202021;
    border: none;
    color: white;
    border: none;
    z-index: 0;
}

.hero .lead-text, {
    color: white;
}

.hero .icon,
.logo {
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.7));
}

.padded-section {
    padding: 3rem;
}

.icon-white {
    color: white;
}

.icon-lg {
    width: 60px;
    height: 60px;
}

.icon-lg.fa-stack .circle {
    width: 60px;
    height: 60px;
}

.icon-lg.fa-stack .inner-icon {
    font-size: 1.5rem;
}

.icon-white.fa-stack .inner-icon {
    color: darkgray;
}

.unstyled-list {
    list-style: none;
}

.vertical-list.icon-list li {
    margin-bottom: 1rem;
}

.btn-xl {
    padding: .75rem 2rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.btn-round {
    border-radius: 50px;
}

.btn-main {
    background: darkgray;
    color: white 
}

.btn {
    font-weight: 700;
}

.btn-second {
    background: white;
    color: #287b61;
}

.lead-text {
    font-size: 4rem;
    font-weight: 600;
}

.headline {
    font-weight: 200;
    font-size: 2rem;
}

.padded-section {
    padding: 3rem;
}

.hero .left-content,
.hero .right-content {
    height: 100%;
}

.left-content {
    background: lightgray;
}

.right-content {
    border: 1px solid lightgray;
}

.hero {
    height: 100vh;
}

body {
    background: white;
}

</style>