<section id="projects-cta" class="light-section">
    <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-md-5" style="z-index: 2;">
                <div class="bg-image offset-bg bg-lightgreen" style="z-index: 2;">
                    <%= image_tag 'circuit-board--lg.svg', class: 'h-100 w-100 object-fit-cover' %>
                </div>
            </div>
            <div class="col-12 col-md-7 padded-section-es-sm pe-3 px-0 px-sm-3 ps-md-5 pe-0">
                <h2 class="section-title">My Work Ethos.</h2>
                <div  class="description content-container">
                <p class="mb-4">
                    I create websites that are as feature-rich as they are user-friendly. 
                    I leverage a custom-built content management system and modular design to create
                    accessible, extensible, and visually striking sites. Whether the client is a charter
                    school or local business, I believe every organization should have the site that
                    best suits their individual needs.
                </p>
                <%= link_to projects_path, class: 'btn btn-main btn-round btn-xl me-4' do %>
                    Projects
                <% end %>
                <%= link_to art_path, class: 'btn btn-second btn-round btn-xl' do %>
                    Art
                <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 p-relative">
            <div class="bg-element square offset-top">
                <%= image_tag 'circuit-board--lg.svg', class: 'w-100 h-100 object-fit-cover' %>
            </div>
        </div>
        <div class="col-4">  
        </div>
    </div>
</section>


<style>

@media (min-width: 768px) {
    #projects-cta {
        margin-bottom: -20px;
    }
}



</style>