<section class="padding-bottom container">
    <div class="row">
        <div class="col-4">
            <div class="square centered-content">
                <h3 class="card-title">Ruby on Rails</h3>
                <%= image_tag 'icon-ruby.svg' %>
            </div>
        </div>
        <div class="col-4">
            <div class="square centered-content">
                <h3 class="card-title">Ruby on Rails</h3>
                <%= image_tag 'icon-ruby.svg' %>
            </div>
        </div>
        <div class="col-4">
            <div class="square centered-content">
                <h3 class="card-title">Ruby on Rails</h3>
                <%= image_tag 'icon-ruby.svg' %>
            </div>
        </div>
    </div>
</section>


<style>



</style>