<section class="padding-bottom container">
    <div class="row">
        <div class="col-4">
            <div class="square darkgray"></div>
        </div>
        <div class="col-4">
            <div class="square darkgray"></div>
        </div>
        <div class="col-4">
            <div class="square darkgray"></div>
        </div>
    </div>
</section>

<style>

.square.darkgray {
    background: darkgray;
    width: 100%;
    height: 100px;
}

</style>