<section class="padding-bottom container">
    <div class="row">
        <div class="col-4">
            <div class="block first"></div>
        </div>
        <div class="col-4">
            <div class="block second"></div>
        </div>
        <div class="col-4">
            <div class="block third"></div>
        </div>
    </div>
</section>

<style>

.block:after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    transform: skew(20deg);

}

.block.first, .block.first:after {
    background: #287b61 !important;
}

.block.second, .block.second:after {
    background: #369c7d !important;
}

.block.third, .block.third:after {
    background: #b7e5b2 !important;
}

.block.second:after {
    left: -5px;
    right: -5px;
}

.block {
    height: 20px !important;
    position: relative;
}

.block.first:after {
    transform-origin: -100% 0;
}


.block.third:after {
    transform-origin: 0% 100%;
}

</style>