<section class="projects-title page-header-section p-relative pb-3 dark-section padded-section-mobile">
    <div class="bg-image bg-green bg-element square h-100">
        <%= image_tag 'circuit-board--lg.svg', class: 'h-100 w-100 object-fit-cover' %>
    </div>
    <div class="row container padding-top-double pb-3 mx-auto px-0">
        <div class="col-12">
            <h1 class="section-title title-lg mb-4">About Me.</h1>
        </div>
    </div>
</section>

<section id="about" class="projects mt-5 container mb-5 padded-section-mobile padding-bottom">
    <div class="row">
        <div class="col-12">
            <p class="">
            Hello - my name’s Megan, and I’m a full-time developer. From design to deployment and maintanence, I craft websites for businesses, charter schools, and non-profit organizations. I regularly dive into large pre-existing projects with the goal of improving maintainability and adding new functionality. 
            </p>
                <p>
                I’ve familiarized myself with a variety of languages, databases, frameworks, and best programmatic practices. I cooperate with a team of backend developers to build out highly functional, feature-rich platforms tailored to client specifications. Though I’m a specialist as heart, I have no trouble hopping onto any part of an application - front end, back end, or side to side. I approach problems with an eye for form, function, and performance. 
                </p>
                <p>
                In 2019, I earned a B.A. in Computer Science and Political Science from Vassar College in Poughkeepsie, NY. After a period of globetrotting, I found gainful employment as a full-time web developer for ETS in Layton, UT, which then morphed into a full-stack role. I primarily work with Ruby on Rails, JavaScript, HTML/CSS, and MySQL, with some experience dabbling in React and mobile app development.
                </p>
        </div>
    </div>
</section>
